@page "/portfolio"
@inject IPortfolioService PortfolioService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Portfolio</PageTitle>
<h3>Portfolio Projects Overview</h3>

@if (projects.Count == 0)
{
	<p><em>Loading portfolio projects...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>WebUrl</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var project in projects)
			{
				<tr>
					<td>@project.Title</td>
					<td>@project.Description</td>
					<td>@project.WebUrl</td>
					<td><button class="btn btn-primary" @onclick="@(() => EditProject(project.Id))">Edit</button></td>
					<td><button class="btn btn-primary" @onclick="@(() => DeleteProject(project.Id))">Delete</button></td>
				</tr>
			}
		</tbody>
	</table>

	<button @onclick="AddProject">Add a new project</button>
}

@code
{
	List<PortfolioProject> projects = new List<PortfolioProject>();

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		projects = await PortfolioService.GetAllProjectsAsync();
	}

	void EditProject(int id)
	{
		NavigationManager.NavigateTo($"/edit-project/{id}");
	}

	async Task DeleteProject(int id)
	{
		await PortfolioService.DeleteProjectAsync(id);
		projects = await PortfolioService.GetAllProjectsAsync();
	}

	void AddProject()
	{
		NavigationManager.NavigateTo($"/edit-project");
	}
}
